{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "semi": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
