@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-title: 'Funnel Sans', sans-serif;
  --font-body: 'Inter', sans-serif;

  --color-primary-white: #f1f5f9;
  --color-primary-black: #000000;
  --color-gray: #99a1af;

  --text-title-font: 60px;
  --text-title-font--font-weight: 700;
  --text-title-font--line-height: 72;

  --text-h1: 60px;
  --text-h1--font-weight: 700;
  --text-h1--line-height: 72px;
  --text-h2: 48px;
  --text-h2--font-weight: 700;
  --text-h2--line-height: 60px;
  --text-h3: 40px;
  --text-h3--font-weight: 600;
  --text-h3--line-height: 48px;
  --text-h4: 32px;
  --text-h4--font-weight: 600;
  --text-h4--line-height: 40px;
  --text-h5: 28px;
  --text-h5--font-weight: 400;
  --text-h5--line-height: 36px;
  --text-h6: 24px;
  --text-h6--font-weight: 400;
  --text-h6--line-height: 32px;

  --text-large: 20px;
  --text-large--font-weight: 400;
  --text-large--line-height: 26px;
  --text-base: 18px;
  --text-base--font-weight: 400;
  --text-base-line-height: 24px;
  --text-small: 14px;
  --text-small--font-weight: 400;
  --text-small-line-height: 20px;
  --text-caption: 14px;
  --text-caption--font-weight: 400;
  --text-caption-line-height: 16px;
}

@layer base {
  h1.font-title {
    font-family: var(--font-title);
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
  }

  h1 {
    font-family: var(--font-body);
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
  }

  h2 {
    font-family: var(--font-body);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }

  h3 {
    font-family: var(--font-body);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
  }

  h4 {
    font-family: var(--font-body);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }

  h5 {
    font-family: var(--font-body);
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
  }

  h6 {
    font-family: var(--font-body);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  p {
    font-family: var(--font-body);
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
  }

  p.large {
    font-family: var(--font-body);
    font-size: 20px;
    font-weight: 400px;
    line-height: 26px;
  }

  p.small {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
  }

  p.caption {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 400px;
    line-height: 16px;
  }
}

:root {
  background-color: var(--color-primary-white);
}

.container {
  @apply mx-auto w-[90%] sm:w-[85%] lg:w-[80%] xl:w-[75%];
}
