@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-title: 'Funnel Sans', sans-serif;
  --font-body: 'Inter', sans-serif;

  --color-primary-white: #f1f5f9;
  --color-primary-black: #000000;
  --color-gray: #99a1af;
}

:root {
  background-color: var(--color-primary-white);
}

.container {
  @apply mx-auto w-[90%] sm:w-[85%] lg:w-[80%] xl:w-[75%];
}
